{% extends 'base.html.twig' %}

{% block title %}FitLife360 - Connexion{% endblock %}

{% block meta_description %}Bienvenue sur l'espace de connexion de FitLife360.{% endblock %}

{% block body %}
<div class="container mb-5 poppins">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card mt-5 shadow-sm colorBlue">
                <div class="card-body p-5 bodyLogin">
                    <h1 class="card-title text-center mb-4">Connexion</h1>

                    {% if error %}
                        <div class="alert alert-danger text-center" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <form method="post">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Ton email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Ton mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="_remember_me" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                        </div>

                        <button class="btn btn-lg w-100 bodyLogin_btn text-white" type="submit">
                            Se connecter
                        </button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{{ path('app_register') }}" class="btn btn-link">Pas encore de compte ? Inscris-toi</a>
                        {# <a href="#" class="btn btn-link">Mot de passe oublié ?</a> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
