<h1>Confirmation e-mail FitLife360</h1>

<p>
   Bonjour,

    Merci d'avoir rejoint la communauté FitLife360 ! Veuillez valider votre adresse e-mail en cliquant sur le lien ci-dessous :

    [Confirmer mon adresse e-mail]({{ signedUrl|raw }})

    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
Nous sommes impatients de vous voir atteindre vos objectifs de remise en forme avec nous !

À bientôt,
L'équipe FitLife360
</p>
