{% extends 'base.html.twig' %}

{% block title %}FitLife360-Plan alimentaire{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-5">Mon Plan alimentaire</h1>
    {% for planAlimentaire in planAlimentaires %}
    <div class="row mb-5">
        <div class="col">
            <h2 class="fw-bold">{{ planAlimentaire.title }}</h2>
            <p class="lead">"{{ planAlimentaire.description }}"</p>
            <p class="lead">{{ planAlimentaire.dateDebut | date('d/m/Y') }}</p>
            <p class="lead">{{ planAlimentaire.dateFin | date('d/m/Y') }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}