{% extends '@EasyAdmin/page/content.html.twig' %}
{% block head_stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url("{{ asset('images/imgAdmin.jpeg') }}");
            background-repeat: no-repeat;
        }     
    </style>
{% endblock %}
{% block content_header %}
    <h1 class="text-secondary pb-3">Bienvenue sur votre espace d'administration</h1>
{% endblock %}