{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}FitLife360 - Administration{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url("{{ asset('images/imgAdmin.webp') }}");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }     
        .user-details>span{
            color: white;
        }
    </style>
{% endblock %}

{% block meta_description %}Bienvenue sur votre espace d'administration{% endblock %}

{% block content_header %}
    <h1 class="fw-bold text-secondary text-center mb-3">Bienvenue sur votre espace d'administration</h1>
{% endblock %}