@mixin btnTypeBlue(){
    &_btn{
        background-color: $colorblue;
        &:hover{
            background-color: $colorblue;
        }
    }
}

@mixin btnTypeRed(){
    &_btn{
        background-color: $colorRed;
        &:hover{
            background-color: $colorRed;
        }
    }
}

@mixin btnHoverRed(){
    &_btn{
        background-color: transparent;
        border-color: $colorRed;
        &:hover{
            background-color: $colorRed;
        }
        &--link{
            color: $colorRed;
            &:hover{
                color: $colorWhite;
            }
        }
    }
}

@mixin containerError(){
    position: relative;
    height: 100vh;
    background-color: $colorBlack;
    padding: $padding350;
    background-image: url('../images/imgError.jpg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    &_text{
        position: absolute;
        top: $top100;
        left: $left100;
    }
}