@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playwrite+PL:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+US+Trad:wght@100..400&display=swap');

//font-family
$fontPoppins: 'Poppins', sans-serif;
$fontPlayfair: 'Playfair Display', serif;

//colors
$colorBlack: #212529;
$colorSecondary: #6c757d;
$colorblueLight: #0074AF;
$colorblue: #0B3359;
$colorRed:#FC474F;
$colorWhite: #fff;

//padding and margin
$padding50: 50px;
$padding100: 100px;
$padding200: 200px;
$marginTop10: 10px;
$marginTop20: 20px;