@import 'variables';

.containerError{
    padding: $padding200;
    @media screen and (max-width: 768px) {
        padding: $padding0;
        padding-top: $padding200;
        padding-bottom: $padding200;
    }
    .shadowError {
        text-shadow: 3px 3px $colorblue;
    }
}