@import 'variables';

.p, h2, a, small{
    font-family: $fontPoppins;
}

.playfair{
    font-family: $fontPlayfair;
}

.bgBlue{
    background-color: $colorblue !important;
}

.colorBlue{
    color: $colorblue !important;
}

.colorRed{
    color: $colorRed !important; 
}