@import 'variables';
@import 'mixins';

header{
    border-bottom-right-radius: 250px;
    padding-top: $padding100;
    padding-bottom: $padding100;
    @media screen and (max-width: 425px) {
        border-bottom-right-radius: 0;
        padding-top: $padding50;
        padding-bottom: $padding50;
    }
    .header{
        &_Title{
            font-family: $fontPlayfair;
        }

        &_text{
            font-family: $fontPoppins;
        }
    }
}


.footerEvent{
    &_link, &_text{
        color: $colorblue;
    }
}