@import 'variables';
@import 'mixins';

.lists{
    gap: 10px;
    &_profile{
        list-style-type: none;
        &--poppins{
            font-family: $fontPoppins;
        }
    }
}

.vich-image{
    a{
        img{
            width: 100%;
        }  
    }
}

.divProfile, .abonnementProfile, .accesProfile, .rdvProfile{
    @include btnHoverRed();
}

.abonnementProfile{
    &_btn{
        margin-top: $marginTop10;
    }
}

.myCoachProfile{
    &_btn{
        margin-top: $marginTop20;
        background-color: $colorblue;
        &:hover{
            background-color: $colorblue;
        }
    }
}