@import 'variables';

.lists{
    gap: 10px;
    &_profile{
        list-style-type: none;
        &--poppins{
            font-family: $fontPoppins;
        }
    }
}

.textProfile{
    font-family: $fontPoppins;
}