<footer class="bg-white text-white text-center py-3 poppins">
    <div class="container">
      <div class="row mx-auto">
        <p class="text-dark mb-0">&copy; 2024 FitLife360. Tous droits réservés</p>
      </div>
      <div class="row mx-auto">
        <a href="{{ path('app_mentions') }}" class="my-2">Mentions légales</a>
      </div>
      <div class="row mx-auto">
        <a href="{{ path('app_cgv') }}">Conditions générales de ventes</a>
      </div>
    </div>
</footer>