<footer class="bg-light text-white text-center py-3">
    <div class="container">
      <p class="text-dark">&copy; 2024 FitLife360. Tous droits réservés - <a href="{{ path('app_mentions') }}">Mentions légales</a></p>
    </div>
</footer>