<footer class="bg-light text-white text-center py-3">
    <div class="container">
      <p class="text-dark mb-0">&copy; 2024 FitLife360. Tous droits réservés</p>
      <div class="d-flex justify-content-center align-items-center flex-row gap-2">
        <a href="{{ path('app_mentions') }}">Mentions légales</a>
        <span class="text-dark">|</span>
        <a href="{{ path('app_cgv') }}">Conditions générales de ventes</a></p>
      </div>
    </div>
</footer>