{% extends 'base.html.twig' %}

{% block title %}Signalement de Commentaire{% endblock %}

{% block body %}
    <h1>Signalement de Commentaire</h1>

    {{ form_start(form) }}
        {{ form_row(form.comment) }}

        <button type="submit" class="btn btn-primary">Signaler</button>
    {{ form_end(form) }}
{% endblock %}
