{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('error') }}
{% endblock %}

{% block body %}
<div class="container-fluid containerError bg-light">
    <div class="container playfair">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="text-center">
                    <h1 class="display-1 fw-bold colorRed mb-2 shadowError">ERROR 404</h1>
                    <p class="lead colorBlue"><strong class="fs-4">🏋️‍♂️</strong> Oups... la page que vous recherchez n'existe pas ! <strong class="fs-4">🏋️‍♂️</strong></p>
                </div>
                <div class="text-center mt-4 error404 poppins mt-5">
                    <div id="quiz">
                        <h2 id="question" class="mb-3 fs-4">Question 1 : Quel muscle est communément appelé "l'abdominal" ?</h2>
                        <div id="answers" class="mb-3">
                            <button class="answer btn btn-outline-danger" data-answer="Grand droit de l'abdomen">Grand droit de l'abdomen</button>
                            <button class="answer btn btn-outline-danger" data-answer="Biceps brachial">Biceps brachial</button>
                            <button class="answer btn btn-outline-danger" data-answer="Quadriceps">Quadriceps</button>
                            <button class="answer btn btn-outline-danger" data-answer="Deltoides">Deltoides</button>
                        </div>
                        <p id="progress">Question 1 sur 10</p>
                        <p id="score">Score : 0</p>
                    </div>
                    <div class="text-center mt-3">
                        <a href="{{ path('app_home') }}" class="btn btn-md btn-danger text-white text-decoration-none">Retour à l'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
