{% extends 'base.html.twig' %}

{% block title %}Paiement Annulé{% endblock %}

{% block meta_description %}Bienvenue sur la page Paiement Annulé de FitLife360.{% endblock %}

{% block body %}
<div class="container my-5 mx-auto">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card text-center shadow-lg p-5">
                <div class="text-danger d-flex flex-row align-items-center justify-content-center gap-4">
                    <i class="fa-solid fa-xmark fs-3"></i>
                    <h1 class="fs-2 mb-0 text-danger">Paiement Annulé</h1>
                </div>
                <div class="card-body cardPayment">
                    <p class="fs-5 fst-italic">Paiement a été annulé.</p>
                    <button class="cardPayment_btn btn btn-md"><a href="{{ path('app_profile') }}" class="text-decoration-none text-white">
                        Votre espace profil
                    </a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

