{% extends 'base.html.twig' %}

{% block title %}Paiement Annulé{% endblock %}

{% block body %}
<h1>Paiement Annulé</h1>
<p>Votre paiement a été annulé.</p>
<a href="{{ path('app_profile') }}" class="btn btn-primary btn-lg">Retourner à Votre espace profil</a>
{% endblock %}
